@tailwind base;
@tailwind components;
@tailwind utilities;

.deixarbonito {
    @apply text-pink-400
}

.teste:focus{
    outline: none;
    
}


.negao{
    color: #fff;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(101, 52, 121),
    0 0 80px rgb(101, 52, 121),
    0 0 100px rgb(101, 52, 121),
    0 0 150px rgb(101, 52, 121);
    font-size: 4rem;
}


::-webkit-scrollbar {
    display: none;
    }


.negao3{
    width: auto;
    display: flex;
    align-items: center;
    height: 100vh;

}

.negao4{
    padding-left: 10vw;
}

.msg1{

    font-size: 3rem;
}

.msg2{

    font-size: 3rem;
}

.swiper{
    width: 40vw;
    padding-left: 60vw;
}