body {
    font-family: arial, helvetica;
  }
  
  h3 {
    font-size: 5em;
    text-align: center;
    color: #fff;
    font-weight: 700;
  }
  
  #section1 {
    color: #fff;
  }
  
  .fp-section {
    text-align: center;
  }
  
  button {
    padding: 0.93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    border-color: transparent;
    display: block;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    font-size: 0.85em;
  }
  
  .actions {
    list-style-type: none;
  }
  .actions button {
    padding: 0.93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    border: 0;
    color: #fff;
    margin: 7px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
  }
  .actions button:hover {
    background: #fff;
    color: #35495e;
  }
  